html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }
  .wave-container {
    position: relative;
    background: #FBBF77;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 700px;
}

  .wave-container > svg {
    display: block;
  }
  img {
      height: 350px;
      width: 350px;
  }

 .header3{
     text-align: center;
     font-family: 'Bebas Neue', cursive;
     position: relative;
     margin-top: 30px;
 }
 .para{
     position: relative;
     left: 10%;
     width: 80%;
     text-align: center;
     font-size: large;
 }
 .testimonial-image{
     position: relative;
     text-align: center;
    border-radius: 100%;
    height: 35%;
    width: 35%;
  }
  .titlespkrs{
      position: relative;
      top: 35px;
      text-align: center;
      color: white;
      font-family: 'Comfortaa', cursive;
  }

  .press-logo{
    width:10%;
    height: 10%;
    margin: 40px 60px 50px;
  }
  #press {
    position: relative;
    text-align: center;
    padding-bottom: 3%;
  }
  #footer{
    background-color: black;
    position: relative;
    top: 450px;
    text-align: center;
  }

  .handshake {
    height: 30%;
    width: 30%;
  }

  .hndshkbtn{
    position: relative;
    background-color: white;
    border-radius: 100%;
    
  }
  .contactus {
      background-color: white;
      border-radius: 100%;
      position: relative;

  }
  .contacts{
    height: 30%;
    width: 30%;
  }
  .faq1{
    height: 30%;
    width: 30%;
  }
  .faq{
    border-radius: 100%;
    background-color: white;  
  }

  #miscellaneous{
      position: relative;
      top: 250px;
      text-align: center;
      height: 400px;
  }